@import url(https://fonts.googleapis.com/css?family=Cherry+Swash);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

html{
  background: #F3F7F3;
}

p{
  font-family: 'Cherry Swash';
  padding: 5px;
}

.title {
  max-width: 100%;
  height: 100px;
  padding: 20px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.title img {
  width: 100px; 
  margin-right: 20px;
}

.title img:hover { /* the image will be fliped to another side when users hover over it */
    transform: scaleX(-1);
}

h1 {
    font-size: 2.2em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Dancing Script';
}

h2{
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Dancing Script';
}

.center-image {
    height: 300px;
    max-width: 100%;
    display: block;
    background-color: white;
    background-image: url("https://raw.githubusercontent.com/pywong715/pywong715.github.io/main/lib2024/qa/assignment%203/img/center-image.jpeg");
    background-size: cover; 
    border-radius: 12px 12px 0 0 ;
}

.article {
  max-width: 100%;
  margin: 0 auto;
  position: relative; 
  height: 200px;
  background-color: #DE9B68;
  padding: 30px;
  border-radius: 0 0 12px 12px ;
}

.article p {
  max-width: 70%;
  margin: 0 auto;    
  text-align: center;    
  display: block;
  border-radius: 12px;
  font-size: 1.1em;
}

.info-box{
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 100%;
  display: block;
  align-items: center;
  justify-content: center;
}


.info-box:nth-child(1), .info-box:nth-child(3) { 
  display: flex;
  flex-direction: row; /* the images of first and third info-box are on the left as default*/
  padding: 10px;
}

.info-box:nth-child(2), .info-box:nth-child(4) { 
  display: flex;
  flex-direction: row-reverse; /* the images of first and third info-box are on the right */
  padding: 10px;
}

.bookstore-img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

 .bookstore {
  align-items: center;
  display: inline-block;
  background-color: #FFEECF;
  padding: 40px;
  width: 80%;
  height: 500px;
  overflow: hidden;
  text-align: justify;
  font-size: 1.1em;
  line-height:1.3;
  overflow: hidden;
  box-shadow: rgba(211, 137, 26, 0.4) -5px 5px, rgba(198, 178, 64, 0.3) -10px 10px, rgba(172, 178, 87, 0.2) -15px 15px, rgba(176, 207, 50, 0.1) -20px 20px, rgba(164, 222, 111, 0.05) -25px 25px;
  border-radius: 5%;
}

.more-info {
  display: block;
  border: 0;
  padding: 10px 30px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 20px;
  background-color: #7D98A1;  
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  margin-top: 10%;
  margin-left: 35%;
  position: relative;
}

.bookstore h2:hover{ /* when users hover over h2, there will be textshadow on h2 */
  color: #DE9B68;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.more-info:hover {  /* when users hover over the button, the background colour of the button changes*/
    background-color: #182825;
}

.more-info a {
  color: white;
  text-decoration: none;
}

.more-info:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.inside-bs{
  display: block;
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 2%;
  box-shadow: rgba(231, 167, 18, 0.25) 0px 54px 55px, rgba(235, 198, 105, 0.12) 0px -12px 30px, rgba(210, 228, 74, 0.12) 0px 4px 6px, rgba(202, 209, 24, 0.17) 0px 12px 13px, rgba(184, 227, 72, 0.09) 0px -3px 5px;
}

.inside-bs-overlay{ /* an overlay is added to the bookstore images, and the source of line 167 to 194 are cited in the report*/
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.25s;
}

.inside-bs-overlay > *{ /* the text of the overlayed image will be move from downward 20px*/
  transform: translateY(20px);
  transition: 0.25s;
 }

 .inside-bs-overlay:hover{
  opacity: 1;
}

 .inside-bs-overlay:hover > *{ /* after 0.25s, the text will be back to the orginal position*/
  transform: translateY(0);
}

.inside-bs-title{
  font-size: 2em;
  font-weight: bold;
}

footer { /* the source of line 201 to 256 are cited in the report*/
  background: #D5D6AA;
  font-size: 30px;
  font-family: JetBrains Mono, monospace;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e4bb68;
  margin: 0;
  padding: 2%;
  overflow: hidden;
}

.string { /* moving text with animation settings*/
  display: flex;
  flex-direction: column;
  text-align: center;
  animation: move 8s infinite;
}

.greeting { 
  position: relative;
  top: 8.5vmin;
  margin: 0;
  font-size: 28px;
  padding: 2px;
}

.jp {
  color: #fa8231;
}

.mo {
  color: white;
}

.tob {
  color: #FF66B3;
}

.hc{
  color:#182825;
}

@keyframes move { 
  25% {
    transform: translatey(-1vmin);
  }
  50% {
    transform: translatey(-11vmin);
  }
  75% {
    transform: translatey(-16.5vmin);
  }
}

@media screen and (min-width: 480px) and (max-width: 760px) { /* font size will be responsive to users' screen size*/
  header h1 {
    font-size: 0.95em;
  }
  .title img {
    width: 15%;
  }
  .center-image {
    height: 150px;
  }
  .article p {
    font-size: 0.5em;
  }
  .bookstore p{
    font-size: 0.3em;
    line-height:1;
  }
  .bookstore h2{
    font-size: 0.5em;
  }
  .more-info{
    font-size: 0.1em;
  }
  .greeting {
    font-size: 10px;
  }
 .closure {
  font-size: 10px;
 }
 footer h3{
  font-size: 10px;
 }
.line{
  background: aqua;
}
}