html body{
    margin:10px;
    padding:70px;
    background-image: linear-gradient(rgba(224, 228, 136, 0.774), rgba(222, 210, 168, 0.5));
}

.title{
    width: 100%;
    overflow: hidden;
    height:100px;
    padding: 2px;
    border: 5px solid black;
    margin: 5px;
    position: relative;
}

h1 {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }

.article{
    display: flex;
    flex-direction: row;
    justify-content: center;
  --R:200px; /* radius */
  --m:40px;   /* margin */
  --t:20px;  /* distance from top */
}

.article p {
  width: 50%;
  margin:0;
  padding:0 var(--m);
  display: inline-block;
  vertical-align:top;
  font-size: initial;
  text-align: justify;
}

 .article p:before {
  content: "";
  width: var(--R);
  height: calc(2*var(--R));
  padding:var(--m) 0 var(--m) var(--m);
  margin-top:var(--t);
  background:url(https://raw.githubusercontent.com/pywong715/pywong715.github.io/main/lib2024/qa/book%20icon.png) content-box;
  background-size:200% 100%;
  shape-outside: circle(var(--R) at var(--d,right) calc(-1*var(--m)) top calc(50% + var(--t)/2));
  float: right;
  border-radius: 500px 0 0 500px;
  margin-right:calc(-1*var(--m));
}

.article p:last-child:before {
  float: left;
  padding:var(--m) var(--m) var(--m) 0;
  --d:left;
  background-position:right;
  border-radius:0 500px 500px 0;
  margin-left:calc(-1*var(--m));
  margin-right:0;
}

*,*::before,*::after {
  box-sizing:border-box;
}

hr.dashed {
  border-top: 10px dashed #9613ce;
  }

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: linear-gradient(rgba(216, 97, 54, 0.5), rgba(215, 182, 66, 0.5));
    grid-gap: 20px;
    padding:  30px;
    margin: 80px 10px 10px 10px;
    box-shadow: 12px 12px 2px 1px rgba(225, 125, 10, 0.2);
}

#item img{
    position: absolute;
}

.box{
    width: 100%;
    overflow: hidden;
    height: auto;
    margin: 30px 10px auto;
    position: relative;
}

.box img{
  position: relative;
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  width: auto;
  padding: 20px 80px 100px 80px;
}

@media screen and (min-width: 480px) and (max-width: 760px) {
  header h1 {
    font-size: 0.95em;
  }
  .article p {
    font-size: 0.9em;
  }
}

#watermark::before {
  content:"BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW W BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BW BWW BW BW BW BW BW BW BW BW BW BW BW BW" ;
  position: absolute;
  width: auto;
  transform: rotate(350deg);
  opacity: 0.3;
  color: #ffffffbd;
  font-size: 3em;
  font-weight: bold;
  text-align: justify;
}







